<!DOCTYPE html>
<html>
{{ include('@Velovito/head.html.twig') }}

<body>

<div class="container">
    <div class="row">
        {{ render(controller('VelovitoBundle:Default:header')) }}
    </div>

    <div class="row">
        <div class="spacer-10px col-xs-12"></div>
    </div>

    <div class="row">
        {{ render(controller('VelovitoBundle:Default:breadcrumbs')) }}
    </div>

    <div class="row">
        <div class="col-xs-12">
            {% block body %}
            {% endblock %}
        </div>
    </div>
</div>

</body>

{{ include('@Velovito/footer.html.twig') }}
</html>
