@import "bootstrap/bootstrap.less";
@import "variables.less";

.no-select{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-general {
  &:extend(.btn);
  width: 160px;
  padding: 13px 0;
  font-size: 16px;
  &:hover,
  &:focus {
    &:extend(.btn:hover);
  }
}

.btn-cancel {
  .btn-general();
  background-color: #fff;
  &:hover {
    background-color: #f1f1f1;
  }
  &,
  &:hover,
  &:focus {
    color: @velo-gray;
    text-decoration: none;
  }
}

.advert {
  width: 100%;
  border: 1px solid @velo-gray;
  min-height: 75px;
  &:hover{
    border: 1px solid @velo-dark;
  }
}