{% extends '@Velovito/layout_blank.html.twig' %}
{% import '@Velovito/templates/macroses.html.twig' as macro %}

{% block body %}
    <div class="row">
        <div class="col-md-3">
            {{ render(controller('VelovitoBundle:Advert:searchPanel')) }}
        </div>

        <div class="col-md-9">
            {% for ad in ads %}
                {{ macro.advert(ad) }}
            {% endfor %}
        </div>
    </div>
{% endblock %}
