/.idea
/src/VelovitoBundle/Command/TestCommand.php
/app/bootstrap.php.cache
/app/config/parameters.yml
/app/phpunit.xml
/var/cache/*
/var/logs/*
/var/sessions/*
/vendor/
/web/bundles/
/web/cache/
/web/user_photos/
composer.phar
