<h4>Products</h4>
<div class="row" ng-cloak>
    <div class="col-12-xs">
        <div class="btn-group">
            <button type="button" class="btn btn-warning">Back</button>
            <button type="button" class="btn btn-success">Add new</button>
        </div>
    </div>

    <div class="col-12-xs spacer-10px">
    </div>

    <div class="col-12-xs">
        <table class="table table-stripped">
            <tr ng-repeat="item in list">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.category_name }}</td>

                <td>
                    <button type="button" class="btn btn-sm btn-primary">Edit</button>
                    <button type="button" class="btn btn-sm btn-success" ng-if="!item.active">Activate</button>
                    <button type="button" class="btn btn-sm btn-danger" ng-if="item.active">Deactivate</button>
                </td>
            </tr>
        </table>
    </div>
</div>