<style>
    .velovito-table {
        color: #4d3b3b;
        font-family: Tahoma, Arial, sans-serif;
        font-size: 15px;
        width: 660px;
        border-collapse: collapse;
        margin: 0 auto;
        text-align: left;
    }

</style>

<table class="velovito-table">
    <tbody>
    <tr>
        <td style="padding:0;padding-bottom:20px">
            <a href="https://timeweb.com/?utm_campaign=massmail_5920&amp;utm_medium=email&amp;utm_source=timeweb"
               style="color:#b06732;text-decoration:none" target="_blank" rel="noopener">
                <img src="http://velovito.ru/{{ asset('bundles/velovito/img/logo.png') }}"
                     alt="Timeweb. Больше, чем хостинг.">
            </a>
        </td>
    </tr>

    <tr>
        <td style="padding:40px 20px 40px 40px;margin-bottom:20px;background-color:#f9f4e5;border-bottom:20px solid #fffff7"
            bgcolor="#f9f4e5">
            <p style="margin:0;color:#dc6655">Привет!</p>

            <p style="font-size:25px;line-height:1.2em;margin:0 0 25px 0;color:#dc6655"></p>

            <p></p>

            <div style="display:inline-block;">Когда-то мы были друзьями, Вы хостили сайт у нас, а потом мы
                расстались.
            </div>

            <br><br><img
                    src="http://velovito.ru/static/doggy_home_580px.jpg"><br>

            <div style="width:580px">
                <br>Прошло время, и мы многое поменяли, улучшили, допилили и внедрили. Техподдержка отвечает
                молниеносно, не только в тикетах, но и в соцсетях, на сайте и даже в Telegram @telegram_help. Мы
                усовершенствовали тарифы - удвоили место на диске, дарим домены! Предлагаем бесплатный SSL-сертификат и
                отличный клиентский сервис. Дружеский. Клиенты даже пишут, что мы лучшие в России =))<br><br>У нас
                по-настоящему удобное мобильное приложение, как для IOS, так и для Android, по управлению вашим
                хостингом со смартфона. Мы стали ближе к Вам, бодрее и искреннее, обо всем рассказываем в нашем <a
                        href="https://vk.com/timewebru" style="color:#b06732;text-decoration:none" target="_blank"
                        rel="noopener" data-snippet-id="4458de66-9a3a-1ab5-bf94-cacd8975633">сообществе</a> в ВК -
                присоединяйтесь!<br><br>А еще у нас классные <a
                        href="http://timeweb.com/ru/services/bonuses/2016/1283/?utm_source=email&amp;utm_medium=timeweb&amp;utm_campaign=rassylka_ottok"
                        style="color:#b06732;text-decoration:none" target="_blank" rel="noopener">акции </a> для тех,
                кто хочет снова быть с нами!<br>Мы с радостью зачислим Вам, по первой же просьбе, неизрасходованный
                остаток баланса у предыдущего хостера, либо подарим три месяца бесплатного хостинга. Мы очень хотим быть
                вместе!<br><br><a
                        href="http://timeweb.com/ru/services/hosting/?utm_source=email&amp;utm_medium=timeweb&amp;utm_campaign=rassylka_ottok"
                        style="color:#b06732;text-decoration:none" target="_blank" rel="noopener">Возвращайтесь, а?</a>
            </div>
            <br>

            <div style="font-size:12px">С уважением, служба поддержки пользователей Timeweb.<br>
                <a href="http://www.timeweb.com" target="_blank" style="color:#b06732;text-decoration:none"
                   rel="noopener">http://www.timeweb.com</a> <br>
                <a href="//e.mail.ru/compose/?mailto=mailto%3ainfo@timeweb.ru"
                   style="color:#b06732;text-decoration:none" target="_blank" rel="noopener">info@timeweb.ru</a>
            </div>
        </td>
    </tr>

    <tr>
        <td style="padding:40px 40px 40px 40px;padding-top:20px;background-color:#ede2d1;border-bottom:20px solid #fffff7;color:#4d3b3b;font-size:15px"
            bgcolor="#ede2d1">
            <table style="color:#4d3b3b;font-family:Tahoma, Arial, sans-serif;font-size:15px;width:100%" width="100%">
                <tbody>
                <tr>
                    <td style="padding:0">
                        <table style="color:#4d3b3b;font-family:Tahoma, Arial, sans-serif;font-size:15px;width:100%"
                               width="100%">
                            <tbody>
                            <tr>
                                <td style="padding:0;width:320px" width="320">
                                    <img src="//af12.mail.ru/cgi-bin/readmsg?id=14773939350000000431;0;1&amp;mode=attachment&amp;email=tezmo@mail.ru&amp;bs=5253&amp;bl=1921&amp;ct=image%2fpng&amp;cn=support.png&amp;cte=binary"
                                         alt="Служба поддержки" style="margin-bottom:20px">
                                </td>
                                <td style="padding:0">
                                    <img src="//af12.mail.ru/cgi-bin/readmsg?id=14773939350000000431;0;5&amp;mode=attachment&amp;email=tezmo@mail.ru&amp;bs=40581&amp;bl=1174&amp;ct=image%2fpng&amp;cn=miscellaneous.png&amp;cte=binary"
                                         alt="Дополнительно" style="margin-bottom:20px">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="padding:0">
                        <table style="color:#4d3b3b;font-family:Tahoma, Arial, sans-serif;font-size:15px;width:100%"
                               width="100%">
                            <tbody>
                            <tr style="line-height: 28px;">
                                <td style="padding:0;width:120px" width="120">
                                    <div><strong style="color:#4d3b3b">Москва:</strong></div>
                                    <div><strong style="color:#4d3b3b">C.-Петербург:</strong></div>
                                    <div><strong style="color:#4d3b3b">Россия:</strong></div>
                                </td>
                                <td style="padding:0;width:200px" width="200">
                                    <div><span class="js-phone-number highlight-phone"
                                               title="Позвонить через Веб-Агент">+7 (495) 604-1081</span></div>
                                    <div><span class="js-phone-number highlight-phone"
                                               title="Позвонить через Веб-Агент">+7 (812) 244-1081</span></div>
                                    <div><span class="js-phone-number highlight-phone"
                                               title="Позвонить через Веб-Агент">8 800 333-1081</span></div>
                                </td>
                                <td style="padding:0">
                                    <div>
                                        <a href="https://timeweb.com/ru/support/faq/hosting/?utm_campaign=massmail_5920&amp;utm_medium=email&amp;utm_source=timeweb"
                                           style="color:#b06732;text-decoration:none" target="_blank" rel="noopener">Справочник
                                            / FAQ</a></div>
                                    <div>
                                        <a href="https://timeweb.com/ru/support/documents/?utm_campaign=massmail_5920&amp;utm_medium=email&amp;utm_source=timeweb"
                                           style="color:#b06732;text-decoration:none" target="_blank" rel="noopener">Публичная
                                            оферта и договоры</a></div>
                                    <div>
                                        <a href="https://timeweb.com/ru/services/hosting/rules/?utm_campaign=massmail_5920&amp;utm_medium=email&amp;utm_source=timeweb"
                                           style="color:#b06732;text-decoration:none" target="_blank" rel="noopener">Правила
                                            и ограничения</a></div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td style="padding:0">
            <table style="color:#4d3b3b;font-family:Tahoma, Arial, sans-serif;font-size:13px;width:100%" width="100%">
                <tbody>
                <tr>
                    <td style="padding:0;width:330px;letter-spacing:-0.03em" width="330">Пожалуйста, будьте внимательны
                        и храните учетные данные своего аккаунта в недоступном для посторонних лиц (и возможных
                        вредоносных программ) месте.
                    </td>
                    <td align="right" style="padding:0">
                        <a href="http://www.facebook.com/TimeWeb" style="color:#b06732;text-decoration:none"
                           target="_blank" rel="noopener">
                            <img src="//af12.mail.ru/cgi-bin/readmsg?id=14773939350000000431;0;2&amp;mode=attachment&amp;email=tezmo@mail.ru&amp;bs=7396&amp;bl=458&amp;ct=image%2fpng&amp;cn=social%2dfacebook.png&amp;cte=binary"
                                 alt="Facebook">
                        </a>
                        <a href="https://twitter.com/TimeWeb" style="color:#b06732;text-decoration:none" target="_blank"
                           rel="noopener">
                            <img src="//af12.mail.ru/cgi-bin/readmsg?id=14773939350000000431;0;6&amp;mode=attachment&amp;email=tezmo@mail.ru&amp;bs=41975&amp;bl=599&amp;ct=image%2fpng&amp;cn=social%2dtwitter.png&amp;cte=binary"
                                 alt="Twitter">
                        </a>
                        <a href="http://vk.com/timewebru" style="color:#b06732;text-decoration:none" target="_blank"
                           rel="noopener">
                            <img src="//af12.mail.ru/cgi-bin/readmsg?id=14773939350000000431;0;7&amp;mode=attachment&amp;email=tezmo@mail.ru&amp;bs=42748&amp;bl=521&amp;ct=image%2fpng&amp;cn=social%2dvkontakte.png&amp;cte=binary"
                                 alt="Vkontakte">
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>

            <div style="text-align: left;padding-top: 20px;font-size: 10px;">
                Вы получили это письмо, так как являетесь клиентом Timeweb |
                <a target="_blank" style="color:#b06732;text-decoration:none"
                   href="https://timeweb.com/ru/subscribe.php?email=tezmo@mail.ru&amp;key=acae037d55fc0c8081101e559d820b59"
                   rel="noopener">Отписаться от рассылки</a>
            </div>
        </td>
    </tr>
    </tbody>
</table>