<style>
    .velovito-table {
        color: #4d3b3b;
        font-family: Tahoma, Arial, sans-serif;
        font-size: 15px;
        width: 660px;
        border-collapse: collapse;
        margin: 0 auto;
        text-align: left;
    }

    .velovito-island {
        padding: 40px 40px 40px 40px;
        padding-top: 20px;
        background-color: #ede2d1;
        border-bottom: 20px solid #fffff7;
        color: #4d3b3b;
        font-size: 15px
    }

</style>

<table class="velovito-table">
    <tbody>
    <tr>
        <td style="padding:10px 10px 10px 40px;margin-bottom:20px;background-color:#f9f4e5;border-bottom:20px solid #fffff7"
            bgcolor="#f9f4e5">
            <a href="http://velovito.ru/" style="color:#b06732;text-decoration:none" target="_blank" rel="noopener">
                <img src="http://velovito.ru/{{ asset('bundles/velovito/img/logo.png') }}"
                     alt="Velovito.ru">
            </a>
        </td>
    </tr>

    <tr>
        <td style="padding:10px 20px 40px 40px;margin-bottom:20px;background-color:#f9f4e5;border-bottom:20px solid #fffff7"
            bgcolor="#f9f4e5">
            <p style="margin:0;color:#dc6655">Привет!</p>

            <p style="font-size:25px;line-height:1.2em;margin:0 0 25px 0;color:#dc6655"></p>

            <p></p>

            <div style="width:580px">
                Когда-то мы виделись и вместе постили смешные объявления на почти пустом
                месте под названием <a href="http://velovito.ru/" target="_blank"
                                       style="color:#b06732;text-decoration:none"
                                       rel="noopener">velovito.ru</a><br>
                Прошло время, объявления никуда не делись, но мы соскучились, и поэтому, мы завели нового питомца, чтобы
                держать вас в курсе всего нового, что делается для Вас!
            </div>

            <br><br><img src="http://velovito.ru/static/doggy_home_580px.jpg"><br>

            <div style="width:580px">
                <br>Мы многое поменяли, улучшили, допилили и внедрили. Мы
                усовершенствовали дизайн - он стал проще и просторнее! =))
                <br><br>У нас появилось
                <a href="https://vk.com/velo_vito" style="color:#b06732;text-decoration:none" target="_blank"
                   rel="noopener">
                    сообщество
                </a>
                в ВК - присоединяйтесь!
                <br><br>А еще по немногу начал работать <a
                        href="http://velovito.ru/search-adverts?search"
                        style="color:#b06732;text-decoration:none" target="_blank" rel="noopener">поиск </a> пока только
                по названию объявления, но скоро будет круче!

                Не хочется быть назойливыми, но мы очень хотим быть вместе!<br><br><a
                        href="http://velovito.ru/"
                        style="color:#b06732;text-decoration:none" target="_blank" rel="noopener">Возвращайтесь, а?</a>
            </div>
            <br>

            <div style="font-size:12px">С уважением, служба поддержки пользователей VeloVito.<br>
                <a href="http://velovito.ru/" target="_blank" style="color:#b06732;text-decoration:none"
                   rel="noopener">http://velovito.ru/</a> <br>
                <a href="mailto:info@velovito.ru"
                   style="color:#b06732;text-decoration:none" target="_blank" rel="noopener">info@velovito.ru</a>
            </div>
        </td>
    </tr>
    </tbody>
</table>