{% extends '@Velovito/email/base_email_layout.html.twig' %}

{% block body %}
    <div style="width:580px">
        <h4>Здравствуйте, Серега!</h4>
        <p>
            Мы отправили Вам это сообщение, потому что, Вы или кто-то ещё запросил сброс пароля для аккаунта,
            идентификатором которого служит этот почтовый ящик <b>tesmen9@gmail.com</b>.
        </p>
    </div>

    <a href="{{ resetPasswordLink }}" style=" background-color: rgb(240, 173, 78);
            border-radius: 4px;
            border: 1px solid rgb(238, 162, 54);
            box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
            box-sizing: border-box;
            color: #fff;
            cursor: pointer;
            display: block;
    font-size: 16px;
    font-weight: bold;
    height: 34px;
    letter-spacing: normal;
    line-height: 20px;
    margin: auto;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 100%;">Сбросить пароль</a>

    <div style="width:580px">
        <p>
            адрес <b>tezmo@mail.ru </b> указан в качестве основного для
            восстановления доступа к аккаунту. Если tesmen9@gmail.com – не Ваш аккаунт Google, нажмите сюда. После
            этого
            он больше не будет связан с Вашим адресом, и Вы перестанете получать подобные письма!
        </p>
    </div>
{% endblock %}