<div class="row top-buffer">
    <div class="col-xs-12">
        <div class="btn-group">
            <button type="button" class="btn btn-warning" ng-click="back()">Back</button>
            <button type="button" class="btn btn-success" ng-click="save()">Save</button>
        </div>
    </div>
</div>

<div class="row top-buffer">
    <div class="col-xs-1">
        <input class="form-control" ng-model="item.id" disabled>
    </div>

    <div class="col-xs-4">
        <input class="form-control" ng-model="item.name">
    </div>

    <div class="col-xs-3">
        <select class="form-control"
                ng-options="cat as cat.name for cat in categories track by cat.id" ng-model="asd">
        </select>
    </div>

    <div class="col-xs-4">
        <button type="button" class="btn btn-sm btn-success" ng-if="!item.active">Activate</button>
        <button type="button" class="btn btn-sm btn-danger" ng-if="item.active">Deactivate</button>
    </div>
</div>
