body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.content {
    background: #204d74;
    min-height: 500px;
}

.spacer-10px {
    display: block;
    min-height: 10px;
    height: 10px;
    content: close-quote;
}

.spacer-25px {
    display: block;
    min-height: 25px;
    height: 25px;
    content: close-quote;
}

.spacer-50px {
    display: block;
    min-height: 50px;
    height: 50px;
    content: close-quote;
}

.services {
    vertical-align: middle;
    min-height: 20px;
    border-bottom: 1px solid lightgray;
}

.services .item {
    display: inline-block;
    margin:  0 15px;
    line-height: 2.5rem;
    cursor: pointer;
}

.unbound-list-group {

    border: none;
    box-shadow: none
}

.catalog-submenu {
    position: absolute;
    width: 300px;
    right: -299px;
    top: 5px;
    display: block;
}

.catalog-submenu:hover {
    display: block;
}

/* a non important .hidden */
.display-none {
    display: none;
}

.catalog-menu {
    width: 300px;
}

.section {
    position: relative;
    padding: 45px 15px 15px;
    margin: 0 -15px 15px;
    border-color: #e5e5e5 #eee #eee;
    border-style: solid;
    border-width: 1px 0;
    -webkit-box-shadow: inset 0 3px 6px rgba(0, 0, 0, .05);
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, .05);
}

.advert-list-item {
    border: 1px solid #9f9f9f;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.advert-list-item:hover {
    border: 1px solid #919191;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);;
}

.advert-list-item .v-advert-info {
    padding: 5px 10px;
}

.advert-list-item .advert-photo {
    cursor: pointer;
    border: none !important;
}

.clickable-link {
    color: #666;
    cursor: pointer;
}

.clickable-link:hover {
    color: #333;
    cursor: pointer;
}

.one-half-rem {
    font-size: 1.5rem;
}

.advert-list-item a.title {
    padding-top: 8px;
    text-decoration: none;
    color: #444;
    cursor: pointer;
    font-size: 2rem;
}

.advert-list-item a.title:hover {
    color: #111;
}

.advert-list-item .price{
    font-size: 2.7rem;
}

.advert-list-item .description{
    color: gray;
}

.clip {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.v-advert-info {
    padding-top:8px;
}

.text-gray{
    color: gray;
}