{% extends 'VelovitoBundle::layout_blank.html.twig' %}
{% import '@Velovito/templates/macroses.html.twig' as macroses %}

{% block body %}
    <div class="row" ng-app="indexApp">
        <div class="col-xs-3">
            <h4 class="media-heading">Самые популярные</h4>

            {% for ad in popularAdverts | slice(0,3) %}
                {{ macroses.advert_mini(ad) }}
            {% endfor %}
        </div>

        <div class="col-xs-9">
            <div class="row">
                <div class="col-xs-12">
                    <h4 class="media-heading">Последние объявления</h4>
                </div>
            </div>

            {% for ad in ads | slice(0,6) %}
                {{ macroses.advert(ad) }}
            {% endfor %}


            <div class="row" id="ng-more-ads-container">
                <div class="col-xs-12">
                    <ng-view></ng-view>
                </div>
            </div>
        </div>
    </div>

    <script>
        function mainCtrl($scope, $http) {
            $scope.adverts = [];
            $scope.foo = 100;

            $scope.makeFoo = function(){
                $scope.foo = 200;
                $scope.adverts = [1,2,3];
            };

            $scope.loadMore = function(){
                $scope.loading = true;
                $scope.adverts = [1,2,3];

                $http.get('api/showMoreAdverts?last_id=10')
                        .then(function (response) {
                            $scope.adverts = response.data.data;
                            console.log($scope.adverts)
                        })
            }
        }

        var indexApp = angular.module('indexApp', ['ngRoute'])
                .controller('mainCtrl', mainCtrl)
                .config(function ($routeProvider) {
                    $routeProvider
                            .when("/", {
                                templateUrl: "/ng-templates/more-adverts.html",
                                controller: 'mainCtrl',
                                reloadOnSearch: false
                            })
                            .otherwise({
                                redirectTo: '/'
                            });
                });
    </script>
{% endblock %}
