<div class="sidebar-navigation">
    {% for category in menu %}
        <div class="category">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            <a href="{{ url('homepage') }}">{{ category.getName() }}</a>

            {% if category.getCatalogItems() is not empty %}
                <div class="itemlist col-md-2">
                    {% for item in  category.getCatalogItems() %}
                        <div>
                            <a href="{{ url('homepage') }}">
                                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                                {{ item.name }}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

    {% endfor %}
</div>