<div>
    {% for category in menu %}
    <ul class="navmenu">
        <li>
            <a href="{{ url('homepage') }}">{{ category.getName() }}</a>

            {% for item in  category.getCatalogItems() %}
            <ul>
                <li>
                    <a href="{{ url('homepage') }}">{{ item.name }}</a>
                </li>
            </ul>
            {% endfor %}
        </li>
    </ul>
    {% endfor %}
</div>