



    {% for topItem in menu %}
        <ul class="navmenu">
            <li>
                <a href="{{ url('homepage') }}">{{ topItem.name }}</a>

                {% if not topItem.subCats is null %}
                    <ul>
                        {% for subItem in topItem.subCats %}
                            <li>
                                <a href="{{ url('homepage') }}">{{ subItem.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        </ul>
    {% endfor %}
</div>