<div class="sidebar-navigation">
    {% for category in menu %}
        <ul class="category">
            <li>
                <a href="{{ url('homepage') }}">{{ category.getName() }}</a>

                {% if category.getCatalogItems() is not empty %}
                    <ul class="itemlist">
                        {% for item in  category.getCatalogItems() %}
                            <li>
                                <a href="{{ url('homepage') }}">{{ item.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        </ul>
    {% endfor %}
</div>