{% extends 'VelovitoBundle::layout_blank.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 text-center">
            <img src="http://velovito.ru/img/help.jpg" alt="" class="img-thumbnail">
        </div>
    </div>
{% endblock %}