{% extends 'VelovitoBundle::no_menu.html.twig' %}
{% import '@Velovito/templates/macroses.html.twig' as macro %}

{% block body %}
    <div>
        <h1><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Ave, Admin!</h1>
    </div>

    <div>
        <a href="{{ url('admin_list_products') }}">Товары</a> <br>
        <a href="{{ url('admin_list_categories') }}">Категории</a> <br>
        <a href="{{ url('admin_list_attibutes') }}">Аттрибуты</a> <br>
        <a href="{{ url('admin_list_variants') }}">Списки</a> <br>
    </div>


{% endblock %}