{% extends 'VelovitoBundle::no_menu.html.twig' %}
{% import '@Velovito/templates/macroses.html.twig' as macro %}

{% block body %}
    <div>
        <h1><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Ave, Admin!</h1>
    </div>

    <div>
        <article>txt</article>
        {% for product in products %}
            <a href="{{ url('admin_edit_product', {productId: product.id}) }}">{{ product.id }} {{ product.category }} {{ product.id }} </a>
        {% endfor %}
    </div>


{% endblock %}