{% extends "VelovitoBundle::base.html.twig" %}
{% block body %}
    {% include 'VelovitoBundle:templates:alert.html.twig' %}

    <div class="col-md-4">
        <form action="{{ url('login_check') }}" method="POST">

            <div class="form-group">
                <label for="username">E-mail</label>
                <input type="text" class="form-control" id="username"
                       name="_username" value="{{ last_username }}"
                       placeholder="Адрес электронной почты" required style="margin-bottom: 10px"/>
                <label for="password">Пароль</label>
                <input type="password" class="form-control" id="password"
                       name="_password" placeholder="пароль" required style="margin-bottom: 10px"/>

                {% if error %}
                    <div class="bg-danger" style="margin-bottom: 10px">Неверное имя пользователя или пароль</div>
                {% endif %}

                <input type="submit" class="btn-primary form-control" name="login" value="Войти"/><br>
                <a href="{{ url('registration') }}" class="btn-primary form-control">
                    <center>Регистрация</center>
                </a>
                <a href="{{ vk_auth_link }}">Вход через VK </a>

            </div>
        </form>
    </div>
{% endblock %}