{% extends "VelovitoBundle::layout_blank.html.twig" %}
{% import 'VelovitoBundle:templates:macroses.html.twig' as macroses %}

{% block body %}
    {% include 'VelovitoBundle:templates:alert.html.twig' %}

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" ng-app="myApp">
        <div class="modal-dialog" role="document" ng-controller="registerController">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <h4 class="modal-title">Регистрация</h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div id="register-form" class="col-md-12">
                            <form name="register_form" method="post" class="ng-pristine ng-valid">
                                <div class="form-group">
                                    <label for="register_form_username" class="required">Имя</label>
                                    <input type="text" id="register_form_username" name="register_form[username]"
                                           required="required" placeholder="Имя" maxlength="32" autocomplete="off"
                                           class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="register_form_email" class="required">Электронная почта</label>
                                    <input type="text" id="register_form_email" name="register_form[email]"
                                           required="required" placeholder="Электронная почта" maxlength="32"
                                           autocomplete="off" class="form-control" ng-model="user.email">
                                </div>

                                <div class="form-group">
                                    <label for="register_form_password" class="required">Пароль</label>
                                    <input type="password" id="register_form_password" name="register_form[password]"
                                           required="required" placeholder="Пароль" maxlength="16" autocomplete="off"
                                           class="form-control" ng-model="user.password">
                                </div>

                                <div class="form-group">
                                    <input type="password" id="register_form_confirm_password"
                                           name="register_form[confirm_password]" required="required"
                                           placeholder="Подтверждение пароля" maxlength="16" autocomplete="off"
                                           class="form-control" ng-model="user.confirm_password">
                                </div>
                                {{ user | json}}
                                <button type="submit" id="register_form_submit" name="register_form[submit]"
                                        class="hidden">Регистрация
                                </button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary" id="submit_replica">Отправить</button>
                </div>
            </div>
        </div>
    </div> <!-- modal end-->

    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2">
            <div class="text-center">
                <h3>РЕГИСТРАЦИЯ</h3>
            </div>

            <div class="island island-default">
                <a href="{{ vk_auth_link }}" class="btn btn-primary form-control">Регистрация через Вконтакте</a>

                <hr>

                <a class="btn btn-default form-control" type="button" id="show-register-form" data-toggle="modal"
                   data-target="#myModal">
                    Регистрация через @-mail
                </a>

                <hr>

                <div class="text-center">
                    <label>
                        Уже зарегистрированы?

                        <a class="" href="{{ url('login') }}">
                            Войти
                        </a>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <script>
        function registerController($scope, $http) {
            console.log('!initiated!');

            $scope.user = {};
        }

        angular.module('myApp', [])
                .controller('registerController', registerController)
        ;
    </script>
{% endblock %}
