{% extends "security/layout.html.twig" %}
{% block content %}
    <form method="POST" id="register_form">
        <div class="form-group has-error has-feedback">
            <label for="username">Имя пользователя</label>
            <input type="text" class="form-control" id="username" name="username"
                   placeholder="имя пользователя">
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        </div>

        <div class="form-group has-error has-feedback">
            <label for="email">Электронная почта</label>
            <input type="email" class="form-control" id="email" name="email"
                   placeholder="email">
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        </div>

        <div class="form-group has-error has-feedback">
            <label for="password">Пароль</label>
            <input type="password" class="form-control" id="password" name="password"
                   placeholder="пароль">
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        </div>

        <div class="form-group has-error has-feedback">
            <input type="password" class="form-control" id="confirm_password" name="confirm_password"
                   placeholder="подтверждение пароля">
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        </div>

        <input type="submit" class="btn-primary form-control" name="login" value="Регистрация"/><br>
        </div>
    </form>
{% endblock %}



{% block js %}
    <script>
        $(function () {
            $("#register_form").validate({
                rules: {
                    'username': {
                        required: true,
                        maxlength: 32
                    },
                    'email': {
                        required: true,
                        maxlength: 32
                    },
                    'password': {
                        required: true,
                        maxlength: 16
                    },
                    'confirm_password': {
                        required: true,
                        maxlength: 16
                    }
                },
                messages: {
                    'username': {
                        required: "Обязательное поле",
                        maxlength: "Максимальная длина 128 символов"
                    },
                    'email': {
                        required: "Обязательное поле",
                        maxlength: "Максимальная длина 128 символов"
                    },
                    'password': {
                        required: "Обязательное поле",
                        maxlength: "Максимальная длина 128 символов"
                    },
                    'confirm_password': {
                        required: "Обязательное поле",
                        maxlength: "Максимальная длина 128 символов"
                    }
                },
                errorClass: "invalid",
            });
        })
    </script>
{% endblock %}